*

!app/
app/*

!app/code/
app/code/*
!app/code/local/

!app/design/
app/design/*
!app/design/frontend/
app/design/frontend/*
!app/design/frontend/default/
app/design/frontend/default/*
!app/design/frontend/default/mluczka/

!app/etc/
app/etc/*
!app/etc/modules/
app/etc/modules/*
!app/etc/modules/Mage_CustomCatAttr.xml

!skin/
skin/*
!skin/frontend/
skin/frontend/*
!skin/frontend/default/
skin/frontend/default/*
!skin/frontend/default/mluczka/

!.gitignore
!readme.md
